.robot_limbs_and_ears{
	fill:#3393FF;
}

.robot_joints_and_belly{
	fill:#95D2FF;
}

.error_code{
	fill:#CEDDD1;
	font-size:322px;
}

.robot_body{
	fill:#3393FF;
}

.robot_eye_whites{
	fill:#F3ECBA;
}

.robot_hands_feet{
	fill:#E54661;
}

.robot_antenna{
	fill:#E64661;
}

.robot_antenna_highlight{
	fill:#F2748D;
}

.robot_eyes{
	fill:#E64661;
}

.robot_eyes_highlight{
	fill:#F2748D;
}